In [55]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [15]:
data=pd.read_csv('/content/global_freelancers_raw.csv')

In [16]:
data.isnull().sum()

freelancer_ID            0
name                     0
gender                   0
age                     30
country                  0
language                 0
primary_skill            0
years_of_experience     51
hourly_rate (USD)       94
rating                 101
is_active               89
client_satisfaction    176
dtype: int64

In [17]:
data.head()

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%

In [18]:
data.columns

Index(['freelancer_ID', 'name', 'gender', 'age', 'country', 'language',
       'primary_skill', 'years_of_experience', 'hourly_rate (USD)', 'rating',
       'is_active', 'client_satisfaction'],
      dtype='object')

In [24]:
data=data.drop_duplicates()
data

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

In [25]:
data.isnull().sum()

freelancer_ID            0
name                     0
gender                   0
age                     30
country                  0
language                 0
primary_skill            0
years_of_experience     51
hourly_rate (USD)       94
rating                 101
is_active               89
client_satisfaction    176
dtype: int64

In [29]:
data.dtypes

freelancer_ID           object
name                    object
gender                  object
age                    float64
country                 object
language                object
primary_skill           object
years_of_experience    float64
hourly_rate (USD)       object
rating                 float64
is_active               object
client_satisfaction     object
dtype: object

In [30]:
data['hourly_rate (USD)']=pd.to_numeric(data['hourly_rate (USD)'],errors='coerce')
data

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100.0,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,NaN,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50.0,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,NaN,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30.0,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100.0,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,NaN,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75.0,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100.0,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,NaN,1.7,1,72

In [31]:
data['client_satisfaction']=pd.to_numeric(data['client_satisfaction'],errors='coerce')
data

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100.0,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,NaN,3.3,1,NaN
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50.0,0.0,N,NaN
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,NaN,1.5,N,NaN
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30.0,4.8,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100.0,0.0,no,NaN
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,NaN,2.8,N,82.0
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75.0,NaN,False,NaN
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100.0,2.8,yes,97.0
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,NaN,1.7,1,72.0

In [36]:
num_cols=['age','years_of_experience','hourly_rate (USD)','rating','client_satisfaction']
for col in num_cols:
  data[col] = data[col].fillna(data[col].median())

In [37]:
data.isnull().sum()

freelancer_ID           0
name                    0
gender                  0
age                     0
country                 0
language                0
primary_skill           0
years_of_experience     0
hourly_rate (USD)       0
rating                  0
is_active              89
client_satisfaction     0
dtype: int64

In [38]:
data['is_active']=data['is_active'].fillna(data['is_active'].mode()[0])

In [39]:
data.isnull().sum()

freelancer_ID          0
name                   0
gender                 0
age                    0
country                0
language               0
primary_skill          0
years_of_experience    0
hourly_rate (USD)      0
rating                 0
is_active              0
client_satisfaction    0
dtype: int64

In [40]:
data.dtypes

freelancer_ID           object
name                    object
gender                  object
age                    float64
country                 object
language                object
primary_skill           object
years_of_experience    float64
hourly_rate (USD)      float64
rating                 float64
is_active               object
client_satisfaction    float64
dtype: object

In [42]:
data['age']=data['age'].astype(int)
data['years_of_experience']=data['years_of_experience'].astype(int)

In [43]:
outlier_info = {}

for col in num_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    outlier_info[col] = outliers.shape[0]

    print(f"{col}: {outliers.shape[0]} outliers")

age: 0 outliers
years_of_experience: 9 outliers
hourly_rate (USD): 387 outliers
rating: 0 outliers
client_satisfaction: 114 outliers

In [48]:
num_cols = ['age', 'years_of_experience', 'hourly_rate (USD)', 'rating', 'client_satisfaction']

for col in num_cols:

    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    data[col] = data[col].clip(lower_bound, upper_bound)

    print(f"Treatment complete for {col}. Values capped at {lower_bound:.2f} and {upper_bound:.2f}.")

for col in num_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    remaining = data[(data[col] < (Q1 - 1.5 * IQR)) | (data[col] > (Q3 + 1.5 * IQR))].shape[0]
    print(f"Remaining outliers in {col}: {remaining}")

Treatment complete for age. Values capped at 1.00 and 81.00.
Treatment complete for years_of_experience. Values capped at -18.00 and 38.00.
Treatment complete for hourly_rate (USD). Values capped at 50.00 and 50.00.
Treatment complete for rating. Values capped at -1.80 and 7.00.
Treatment complete for client_satisfaction. Values capped at 79.50 and 79.50.
Remaining outliers in age: 0
age: 114 outliers
Remaining outliers in years_of_experience: 0
years_of_experience: 114 outliers
Remaining outliers in hourly_rate (USD): 0
hourly_rate (USD): 114 outliers
Remaining outliers in rating: 0
rating: 114 outliers
Remaining outliers in client_satisfaction: 0
client_satisfaction: 114 outliers

In [49]:
data=data.drop_duplicates()

In [50]:
data.drop(columns=['freelancer_ID','name'], inplace=True, errors='ignore')